{
  "presets": [
    ["env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Config": "./src/config",
        "Plugins": "./src/plugins",
        "Utils": "./src/utils"
      }
    }]
  ]
}
